.whatsnew{
    padding: 10px 5%;
    li{
        list-style: disc;
    }
    .text-grey{
        color: rgb(91, 91, 91);
    }
}

@media(min-width:900px ){
   .whatsnew{ padding: 20px 15%;
   }
}
@media(max-width:400px){
    .whatsnew{ padding: 20px 15%;
    }
}
