.NewfoundLand input[type="radio"][id^="NewfoundLand"] {
    display: none;
  }
  .NewfoundLand input[type="radio"][id^="isNewfoundLand"] {
    display: none;
  }
  .country-logo img{
    height: 70px;
    width: auto;
  }