.Northwest input[type="radio"][id^="Northwest"] {
    display: none;
  }

  .Northwest input[type="radio"][id^="Reside"] {
    display: none;
  }
  .Northwest input[type="radio"][id^="Deline"] {
    display: none;
  }
  .Northwest input[type="radio"][id^="DelineFirst"] {
    display: none;
  }
