:root{
    --navText:#9b9b9b;
    --yearText:#c0c0c0;
    /* --theme-navbar:#172153; */
    /* --theme-navbar:#8b8b8b; */

  }
  .nav-bottom-color{
    background-color: var(--theme-navbar);
  }
  .mobile-navcolor{
    background-color: var(--theme-navbar);
    padding-bottom: 170px;
  }
  .Home-sidebar {
      color: var(--yearText);
      height: 100vh;
      padding: 20px;
      
    }
  .taxyear{
    color: var(--yearText);
    font-weight: 600;
    font-size: 12px;
  }
  p{
    font-size: 12px;
  }
    .main-logo{
      height: 40px;
      width: auto;
    }
 
      .nav-text{
        color: white;
      }
      .accordion-button{
        padding-right: 10px !important;
      }
      .accordion-button:focus{
        box-shadow: none;
        outline: 0;
        background-color: var(--navText) !important;
      }

      .accordion-item:last-of-type .accordion-collapse{
        border-radius: 0 !important;
      }
      .accordion{
      background-color: var(--navText);
      --bs-accordion-btn-icon: url("../../../assets/images/down-arrow.png");
      --bs-accordion-btn-active-icon: url("../../../assets/images/down-arrow.png");
      border: 0px !important;
      --bs-accordion-border-color:none !important;
      --bs-accordion-btn-icon-width:1rem !important;
      --bs-accordion-btn-icon-color:white !important
    }
    
      .tax-refund .accordian , .tax-refund .accordion-button  {
        font-weight: 500;
        border-radius: 0 !important;
        border: 0px !important;
        padding:10px;
      }
      .accordion-button:not(.collapsed) {
        background-color: var(--navText) !important;
        color: white !important;
      }
      .tax-refund .nav-text{
        font-size: 12px !important;
        font-weight: 400;
        color: white;
      }
    .hrline{
      color: var(--yearText);
    }
    .hrline hr{
      width: 100%;
      opacity: .80;
    }
  
    .mobile-view{
      display: none;
    }
  
    .menu-icon{
      font-size: 25px;
    }
  
  .refund-value p{
    font-size: 32px;
    color: rgb(34 222 0);
  }
  .nav-text{
    letter-spacing: -0.2px;

  }

 .nav-links .nav-text{
    font-size: 12px;
    color: lightgray;
    padding: 10px 3px 10px 10px; 
}
 .nav-links .nav-text:hover{
    color: white;
    background-color: var(--navText);
}
.nav-links .nav-text:active{
    background-color: var(--navText);
}

.nav-basic{
  background-color: #01073478;
}
.nav-basic .nav-text-bottom:hover{
  color: white;
  background-color: var(--navText);
}