@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
    --theme-color:#00c7ff;
    /* --theme-navbar:#172153; */
}

.btn:disabled{
  opacity: 0 !important;
}
::-webkit-scrollbar-track {
    display: none;
    border-radius: 10px;
    height: 80%;
  }
  ::-webkit-scrollbar {
    width: 5px;
  
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(248, 247, 247, 0.781); 
    border-radius: 20px;
  }

.Home-page{
    position: relative;
    margin: auto 0;
}
.home-navbar1{
    position: fixed;
    height: 100vh;
}
.lg-view{
    height: 100%;
    overflow-y: overlay;
    padding-bottom:220px ;
    top: 0;
}
.nav-text-bottom{
    padding: 10px 3px 10px 10px;
}
@media (max-width:600px){
    .home-navbar1{
        background-color: rgba(0, 0, 0, 0);
        height: auto;
        width: auto;
        left: 2px;
        padding: 10px;
        top: 2px;
        position: absolute !important;
    }
    .lg-view{
        display: none;
      }
      .mobile-view{
        display: block !important;
      }
      .home-navbar2{
        display: none !important;
      }
}

