@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./Components/Home/HomeNavbar.css";
body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html{
  height: 100%;
}
#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
